* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 1rem;
}

.logo a {
  text-decoration: none;
  color: black;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.home .logo {
  margin-top: -5rem;
}

.home form {
  display: flex;
  width: 100vw;
  padding: 1rem;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.home form input {
  display: block;
  height: 3.5rem;
  width: 100%;
  max-width: 45rem;
  box-sizing: border-box;
  border-radius: 3.5rem;
  padding: 1rem 2rem;
  font-family: inherit;
  font-size: 1.2rem;
  border: 1px solid lightgray;
}

.home form input:focus {
  outline: none;
  border-color: gray;
}

.home form button {
  height: 3rem;
  width: 8rem;
  margin-top: 1rem;
  border-radius: 8rem;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 1px lightgray;
}

.search {
  max-width: 86rem;
  margin: 0 auto;
  /*background: aliceblue;*/
  padding: 1rem;
}

.header .logo {
  font-size: 1.2rem;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.header form {
  display: flex;
  flex-wrap: wrap;
}

.header form input {
  height: 2.5rem;
  width: 16rem;
  border: 1px solid lightgray;
  border-bottom-left-radius: 6rem;
  border-top-left-radius: 6rem;
  padding: 0 1rem;
  font-family: inherit;
}

.header form input:focus {
  outline: none;
  border: 1px solid gray;
}

.header form button {
  border: 1px solid lightgray;
  cursor: pointer;
  width: 6rem;
  border-left: none;
  border-bottom-right-radius: 6rem;
  border-top-right-radius: 6rem;
}


.search .info {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.search .info h3 {
  font-size: 1.2rem;
  margin: 0;
}

.book {
  width: 20rem;
  background: rgba(232, 232, 232, 0.48);
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.book a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book h3 {
  font-size: 1rem;
  text-transform: capitalize;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.54rem;
}

.book a {
  color: black;
  text-decoration: none;
}

.book .image {
  height: 25rem;
  /*max-width: 200px;*/
  width: 100%;
  /*max-height: 200px;*/
  background: orange;
}

.book .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.pagination button {
  border: none;
  height: 2rem;
  margin-right: .2rem;
  padding: .5rem 1rem;
  cursor: pointer;
}

.details {
  max-width: 86rem;
  margin: 0 auto;
  /*background: aliceblue;*/
  padding: 1rem;
}

.details main {
  display: flex;
  margin-top: 4rem;
}

.details section:nth-child(1) {
  /*background: maroon;*/
  width: 30%;
}

.details .image img {
  width: 100%;
  height: auto;
}

.details section:nth-child(2) {
  /*background: violet;*/
  width: 40%;
  padding: 0 1rem;
}

.details section:nth-child(3) {
  /*background: orange;*/
  width: 30%;
}

.details h1 {
  font-size: 1.4rem;
  margin: 0;
  text-transform: capitalize;
}

.details .info {
  font-size: .8rem;
}

.details .description {
  margin-bottom: 1rem;
}

.details .description h1 {
  font-size: 1.1rem;
}

.details .description h2 {
  font-size: 1rem;
}

.details .description h3 {
  font-size: .9rem;
}

.details .description h4 {
  font-size: .8rem;
}

.details .price a {
  height: 3rem;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details .price {
  background: #eeeeee;
  margin-bottom: .5rem;
  padding: 0 1rem;
}

.details .price .provider {
  width: 50%;
  font-size: .8rem;
}

.details .price .time {
  font-size: .6rem;
}

.details .price .cost {
  font-weight: bold;
}

.details .info .table {
  text-transform: capitalize;
}