* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  /* display: relative; */
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.page-header div {
  width: 20%;
}

.logo {
  /* position: absolute; */
  /* left: 1rem; */
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(66, 49, 43);
  width: 20%;
}

.search-bar {
  width: 43.75rem;
  height: 3.75rem;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-self: center;
  border-radius: 4px;
}


.search-bar input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-family: inherit;
}

.search-bar button {
  min-width: 2rem;
  min-height: 2rem;
  width: 2rem;
  height: 2rem;
  border: 5px solid lightgray;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.home-page {
  height: calc(100vh - 4rem - 6rem);
  display: flex;
  align-items: center;
  justify-content: center;
}